<!DOCTYPE html>
<html class="x-admin-sm">

<head>
	<meta charset="UTF-8">
	<title>人员管理-保存</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="stylesheet" href="__CSS__/font.css">
	<link rel="stylesheet" href="__CSS__/xadmin.css">
	<script src="__LIB__/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="__JS__/xadmin.js"></script>
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
		<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="layui-fluid">
		<div class="layui-row">
			<form class="layui-form">

				<div class="layui-form-item">
					<label for="s_num" class="layui-form-label">
						编&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号
					</label>
					<div class="layui-input-inline">
						<input type="text" id="s_num" name="s_num" lay-verify=""
						autocomplete="on" class="layui-input" value="{$userRow.s_num}">
					</div>
					<div class="layui-form-mid layui-word-aux">
						如果置空，将使用默认编号
					</div>
				</div>

				<div class="layui-form-item">
					<label for="name" class="layui-form-label">
						<span class="x-red">*</span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名
					</label>
					<div class="layui-input-inline">
						<input type="text" id="name" name="name" required="" lay-verify="required"
						autocomplete="off" class="layui-input" value="{$userRow.name}">
					</div>
				</div>

				<div class="layui-form-item">
					<label for="sex" class="layui-form-label">
						<span class="x-red">*</span>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别
					</label>
					<div class="layui-input-inline">
						<input type="radio" name="sex" value="男" title="男" {$userRow.sex=='男'?'checked':''} id="sex">
						<input type="radio" name="sex" value="女" title="女" {$userRow.sex=='女'?'checked':''}>
					</div>
				</div>

				<div class="layui-form-item">
					<label for="pw" class="layui-form-label">
						<span class="x-red"></span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码
					</label>
					<div class="layui-input-inline">
						<input type="password" id="pw" name="pw" required="" lay-verify="pw"
						autocomplete="off" class="layui-input" value="000000" disabled>
					</div>
					<div class="layui-form-mid layui-word-aux">
						<span class="x-red" onclick="$('#pw').val('').removeAttr('disabled').focus();">点这里修改密码</span>&nbsp;6到16个字符
					</div>
				</div>

				<div class="layui-form-item">
					<label for="card" class="layui-form-label">
						<span class="x-red"></span>身份证号
					</label>
					<div class="layui-input-inline">
						<input type="text" id="card" name="card" lay-verify="card"
						autocomplete="off" class="layui-input" value="{$userRow.card}">
					</div>
					<div class="layui-form-mid layui-word-aux">
						<span class="x-red"></span>
					</div>
				</div>

				<input type="hidden" name="id" value="{$userRow.id}">

				<div class="layui-form-item">
					<label for="add_user" class="layui-form-label">
						<span class="x-red"></span>操&nbsp;&nbsp;作&nbsp;&nbsp;人
					</label>
					<div class="layui-input-inline">
						<div class="layui-form-mid">admin</div>
					</div>
					<div class="layui-form-mid layui-word-aux">
						<span class="x-red"></span>
					</div>
				</div>

				<div class="layui-form-item">
					<label for="add_user" class="layui-form-label">
						<span class="x-red"></span>操作时间
					</label>
					<div class="layui-input-inline">
						<div class="layui-form-mid">系统自动获取</div>
					</div>
					<div class="layui-form-mid layui-word-aux">
						<span class="x-red"></span>
					</div>
				</div>

				<div class="layui-form-item">
					<label for="L_repass" class="layui-form-label">
					</label>
					<button  class="layui-btn" lay-filter="add" lay-submit>
						保存
					</button>
					<button  class="layui-btn" type="reset">
						重置
					</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		layui.use(['form', 'layer'],
		function() {
			$ = layui.jquery;
			var form = layui.form,
			layer = layui.layer;

			//自定义验证规则
			form.verify({
                pw: [/(.+){6,12}$/, '密码必须6到12位'],
				card: function(val){
					if (val != '') {
						var idcardReg = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/;
						if(!idcardReg.test(val)) {
							return '身份证号不合规范';
						}
					}
				}
			});

			//监听提交
			form.on('submit(add)', function(data) {
				$.post('{:url("saveData")}',data.field, function(getData, textStatus, xhr) {
					if (getData.code == 0) { // 异常
						layer.msg(getData.msg,{icon: 5});
					}else{
						layer.msg("修改成功", {
							icon: 6
						}, function() {
							xadmin.close();
							xadmin.father_reload();
						});
					}
				},'json');
				return false;
			});
		});
	</script>
</body>
</html>