<!DOCTYPE html>
<html class="x-admin-sm">

<head>
	<meta charset="UTF-8">
	<title>人员管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<link rel="stylesheet" href="__CSS__/font.css">
	<link rel="stylesheet" href="__CSS__/xadmin.css">
	<script src="__LIB__/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="__JS__/xadmin.js"></script>
	<!--[if lt IE 9]>
		<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="x-nav">
		<span class="layui-breadcrumb">
			<a href="javascript:;">首页</a>
			<a href="javascript:;">系统初始</a>
			<a>
				<cite>人员管理</cite>
			</a>
		</span>
		<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
			<i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
		</a>
	</div>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-body">
						<table lay-filter="userList" id="userList"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 行工具栏 -->
	<script type="text/html" id="barDemo">
		<a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
	</script>
	<!-- 左侧工具栏 -->
	<script type="text/html" id="toolbar">
		<a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail" onclick="xadmin.open('编辑','{:url('/admin/users/save')}',600,500)">添加</a>
		<a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">批量导入</a>
	</script>
	<script>
		layui.use('table', function(){
			var table = layui.table;
			table.render({
				elem: '#userList'
				,title: '人员信息表'
				// ,height: 312
				,url: '/admin/users/user_list'
				,page: true
				,loading: true
				,toolbar:'#toolbar'
				,cols: [[
				{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
				,{field: 's_num', title: '人员编号', width:100, sort: true}
				,{field: 'name', title: '人员姓名', width:200, sort: true}
				,{field: 'sex', title: '人员性别', width:100, sort: true}
				,{field: 'created_at', title: '创建时间', width: 150, sort: true}
				,{fixed: 'right',title: '操作', templet: '#barDemo'}
				]]
			});

			//监听工具条
			table.on('tool(userList)', function(obj){
				//获得当前行数据
				var data = obj.data;
				//获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
				var layEvent = obj.event;
				//获得当前行 tr 的 DOM 对象（如果有的话）
				var tr = obj.tr;

				if(layEvent === 'detail'){
				} else if(layEvent === 'del'){
					layer.confirm('您确定要删除该条 人员信息 吗？', function(index){
						$.get('{:url("del")}/id/' + data.id + '', function(getData, textStatus, xhr) {
							if (getData.code == 0) { // 异常
								layer.msg(getData.msg,{icon: 5});
							}else{
								obj.del();
								layer.close(index);
							}
						},"json");
					});
				} else if(layEvent === 'edit'){
					obj.update({
						username: '123'
						,title: 'xxx'
					});
				} else if(layEvent === 'LAYTABLE_TIPS'){
					layer.alert('Hi，头部工具栏扩展的右侧图标。');
				}
			});
		});
	</script>
</body>
</html>