*{padding: 0;margin: 0;}
.topBar{width: 100%;height: 84px;background-color: #1D7AD9;}
.topBar img{margin-left: 565px;margin-top: 13px;}
.topBar span{color: white;font-size: 22px;font-family: "微软雅黑";position: absolute;margin-left: 22px;margin-top: 36px;}
.form{width: 460px;height: 358px;margin: 0 auto;border: 1px solid #D0D0D0;margin-top: 13px;}
.form_border{padding: 44px 88px;}
.form_user p{color: #999999;font-size: 12px;}
.form_user input{width: 300px;height: 36px; background: url(./images/icon/images/7_03.png) right center no-repeat;margin-top: -10px;}
.form_pwd p{color: #999999;font-size: 12px;margin-top: 15px;}
.form_pwd input{width: 300px;height: 36px;background: url(./images/pwd.jpg) right no-repeat;margin-top: -10px;}
.checkbox{margin-left: 20px;}

.four{margin-left: 50px;}


.logo_partner p{color: #999999;font-size: 14px;}
.logo_partner a{text-decoration: none;}
.reg_form{width: 460px;height: 400px;margin: 0 auto;border: 1px solid #D0D0D0;margin-top: 30px;}
.form_button{padding-left: 40px;}
.form_button div{margin: 8px;width: 270px;height: 38px;float: left;}
.form_button div i{color: red;}
.form_button div span{color: #999;}
.user{color: #999;}
.checkbox1{margin: 0 auto;text-align: center;}
.submit input{width: 270px;height: 36px;text-align: center;}